.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space;
}

.compliments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  margin: 0;
}

.subtitleHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  height: 2%;
  width: 2%;
}
